// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    margin-bottom: 24px;
}

.order-price {
    font-size: 13px;
    margin-right: 5px;
    font-weight: normal;

    &.has-discount {
        text-decoration-line: line-through;
    }
}
